:root {
  --color-primary: #83286d;
  --color-secondary: #f4bfc2;
  --color-accent: #d58ba8;
  --color-background: #fbf1e5;
  --color-text: #2b1f2f;

  --play-font-family: "Playfair Display", sans-serif;
  --kudry-font-family: "Kudryashev Display Sans", sans-serif;
  --quick-font-family: "Quicksand", sans-serif;
  --text-font-family: "Poppins", sans-serif;

  --h1-font-size: 3.5rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 1.8rem;
  --p-font-size: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: var(--quick-font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.4;
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70px;
  padding: 0px 10px 0px 10px;
  background-color: rgba(251, 241, 229, 0.8);
  color: var(--color-text);
  border-bottom: 2px solid var(--color-primary);
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
  z-index: 999;
}

.linha-vertical {
  width: 2px;
  height: 60px;
  border: none;
  background-color: var(--color-primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}

.navbar-container .hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fisioella {
  font-family: var(--quick-font-family);
  font-size: var(--h2-font-size);
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--color-text);
  margin: 0;
}

.dra-neila {
  font-family: var(--kudry-font-family);
  font-size: var(--h2-font-size);
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--quick-font-family);
  font-size: 1.4rem;
}
.nav-list a {
  font-family: var(--quick-font-family);
  font-size: var(--h3-font-size);
  text-decoration: none;
  color: var(--color-text);
}

.nav-list a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px var(--shadow);
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-list a:hover {
  color: var(--color-primary);
  text-shadow: 0 1px 3px var(--shadow);
}

.nav-list a.active {
  color: var(--color-primary);
  text-shadow: 0 1px 3px var(--shadow);
  font-weight: bold;
}

section {
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
  padding: 70px 0 50px 0; /* t r b l */
  flex-wrap: wrap;
}

.main-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  place-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}

h2 {
  font-family: var(--kudry-font-family);
  font-size: var(--h2-font-size);
  font-weight: 600;
  color: var(--color-text);
}

p {
  font-size: var(--p-font-size);
  color: var(--color-text);
}

.hero-button {
  width: fit-content;
  padding: 10px 20px;
  color: #83286d;
  border: var(--color-primary) 2px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.hero-image {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.fisio-pelvica,
.publico-alvo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px 0;
}

.indicacoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  justify-self: center;
}

.indicacoes li {
  font-size: var(--p-font-size);
  font-weight: 400;
  padding: 10px 20px;
  height: 80px;
  border-radius: 30px;
  align-content: center;
  color: var(--color-primary);
  border: rgba(131, 40, 109, 0.6) solid 2px;
  background-color: #f4bfc25c;
  box-shadow: 0 0 7px var(--shadow);
  transition: all 0.3s ease, box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 2px rgba(131, 40, 109, 0.4);
  }

  50% {
    transform: translateY(-6px);
    box-shadow: 0 5px 10px rgba(131, 40, 109, 0.4);
  }

  100% {
    transform: translateY(0px);
    box-shadow: 0 0 2px rgba(131, 40, 109, 0.4);
  }
}

#sobre-mim {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin: 0;
}

.Sobre-mim-texto {
  background-color: rgba(244, 191, 194, 0.5);
  border-radius: 30px;
  padding: 10px;
}

.img-momis {
  height: auto;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
}

.sobre-mim-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(244, 191, 194, 0.5);
}

h1 {
  padding: 0 10px;
  margin: 10px 0;
  font-family: var(--kudry-font-family);
  font-size: var(--h1-font-size);
  font-weight: 600;
  color: var(--color-text);
  border-bottom: #83286d solid 2px;
}

#serviços {
  padding: 60px 0;
}

.serviços-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.serviços-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}

.serviços-grid {
  display: grid;
  grid-template-columns: repeat (350px, 2fr);
  gap: 2rem;
  margin: 30px;
  flex-wrap: wrap;
}

.serviço-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: all 0.3s ease;
}

.serviço-card.centered {
  grid-column: 1 / 3;
  justify-self: center;
}

.serviço-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.serviço-link,
.serviço-link-l {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: var(--dark-color);
  font-family: var(--text-font-family);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.serviço-link:hover {
  color: var(--dark-color-darker);
}

.arrow-icon,
.arrow-icon-l {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.serviço-link:hover .arrow-icon {
  transform: translateX(3px);
}

.serviço-link:hover .arrow-icon-l {
  transform: translateX(-3px);
}

.serviço-image {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(230, 122, 46, 0.1);
}

.serviço-image .image {
  width: 3rem;
  height: auto;
  color: var(--dark-color);
}

.icondrenagem {
  width: 2rem;
  height: auto;
  color: var(--dark-color);
}

#subcontainer-section {
  padding: 60px 0;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 20px;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title .serviço-link-l {
  position: absolute;
  left: 0;
}

.topico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.serviço-detalhes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.serviço-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f4bfc286;
}

h3 {
  font-family: var(--kudry-font-family);
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--color-text);
}

/* Contato */

#Contato-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 0;
}

.Contato-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#contactForm {
  display: grid;
  grid-template-columns: auto 1fr;
  place-self: center;
  gap: 20px;
  width: 550px;
  padding: 10px 20px;
}

#contactForm label {
  font-size: 1.3rem;
  color: var(--color-text);
  align-self: center;
  font-weight: 500;
  
}

#contactForm input,
#contactForm textarea {
  padding: 15px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border-radius: 50px;
  font-size: 1rem;
  font-family: var(--quick-font-family);
  resize: none;
}

#contactForm input:focus,
#contactForm textarea:focus {
  outline: none;
  border-color: var(--color-accent);
}

#contactForm button {
  grid-column: span 2;
  place-self: center;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#contactForm button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(131, 40, 109, 0.4);
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--shadow);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in-out;
}

.back-to-top.show {
  display: flex;
  pointer-events: auto;
  opacity: 1;
}

.back-to-top img {
  width: 30px;
  height: auto;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.back-to-top:hover img {
  transform: scale(1.1);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f4bfc286;
  border-top: 2px solid var(--color-primary);
}

.footer-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;
  gap: 10px;
}

.footer-image img {
  width: 100%;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-container h2 {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: var(--color-text);
}

.footer-image,
.footer-image img {
  width: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.redes-sociais {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-copyright p a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright p a:hover {
  text-decoration: underline;
  color: #f4bfc2;
}

@media (max-width: 1024px) {
  /* Estilos para celular */
  .hamburger {
    display: block;
    right: 40px;
  }

  header {
    height: auto;
  }

  .navbar {
    display: none;
    position: relative;
    background-color: rgba(251, 241, 229, 0.5);
    padding-top: 80px;
    z-index: 998;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .navbar.active {
    display: block;
    padding: 0;
    flex-wrap: wrap;
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .linha-vertical {
    height: 28px;
    margin-bottom: 10px; /* t r b l */
  }

  .fisioella {
    font-size: 23px;
  }

  .dra-neila {
    font-size: 23px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(251, 241, 229, 0.8);
    z-index: 10;
    box-shadow: 0 2px 6px var(--shadow);
    box-sizing: border-box;
  }

  #inicio h2 {
    font-size: 30px;
  }

  .main-text {
    padding: 10px;
  }

  #inicio .btn {
    font-size: 20px;
  }

  .fisio-pelvica {
    padding: 20px;
    font-size: 18px;
  }
  .publico-alvo {
    padding: 20px;
    font-size: 18px;
  }

  .publico-alvo ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  #Sobre-mim p {
    padding: 20px 20px;
  }

  .Sobre-mim-texto {
    background-color: rgba(244, 191, 194, 0.5);
    border-radius: 30px;
    padding: 10px;
  }

  .Img-momis {
    width: 25vh;
  }

  #Contato-page {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px;
    text-align: start;
  }

  .footer-container h2 {
    font-size: 1.4rem;
  }

  .footer-logo,
  .contato,
  .endereços {
    text-align: center;
    font-size: 14px;
  }
  .footer-image img {
    width: 100px;
    height: auto;
  }
  .redes-sociais img {
    width: 30px;
    height: auto;
  }

  .footer-logo {
    grid-row: 1 / span 2;
  }

  .contato {
    text-align: center;
  }

  .contato h3 {
    margin: 10px;
    margin-bottom: 20px;
  }

  .endereços h3 {
    margin: 10px;
    margin-bottom: 20px;
  }

  .endereços {
    grid-column: 2/ 2;
    text-align: center;
  }

  .footer-copyright p {
    font-size: 0.8rem;
  }
}

/* Tablets até 1024px */
@media (min-width: 1023px) {
  .nav-list a {
    font-size: 23px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .navbar.active {
    display: block;
    padding: 0;
    flex-wrap: wrap;
  }

  .linha-vertical {
    height: 35px;
    margin-bottom: 10px; /* t r b l */
  }

  .fisioella {
    font-size: 28px;
  }

  .dra-neila {
    font-size: 28px;
  }
}

@media (max-width: 769px) {
  .main-text {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  p {
    font-size: 1.3rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Sobre-mim-container {
    flex-direction: column;
  }

  .endereços {
    grid-column: 1 / 3;
    text-align: center;
  }

  .serviços-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .serviço-detalhes div {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 10px;
  }

  .serviço-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .serviço-card {
    width: 90vw;
    max-width: 400px;
    margin: 10px 0;
  }

  .footer-container p {
    font-size: 1rem;
  }

.footer-copyright a {
  color: var(--color-secondary);
  text-decoration: underline;
  font-size: 1rem;
}

