:root {
  --color-primary: #83286d;
  --color-secondary: #f4bfc2;
  --color-accent: #d58ba8;
  --color-background: #fbf1e5;
  --color-text: #2b1f2f;

  --play-font-family: "Playfair Display", sans-serif;
  --kudry-font-family: "Kudryashev Display Sans", sans-serif;
  --quick-font-family: "Quicksand", sans-serif;
  --text-font-family: "Poppins", sans-serif;

  --h1-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --p-font-size: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.4;
}
body {
  background-color: var(--color-background);
}

/* header */
header {
  width: 100%;
  height: 80px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: rgba(251, 241, 229, 0.9);
  z-index: 1;
  border-bottom: #83286d solid 2px;
}

.linha-vertical {
  width: 2px;
  height: 30px;
  background-color: #83286d;
  border: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.navbar-container .hamburger {
  display: none;
}

.fisioella {
  font-family: var(--quick-font-family);
  font-size: var(--h1-font-size);
  font-weight: 300;
  color: var(--color-text);
  line-height: 1.2;
}

.dra-neila {
  font-family: var(--kudry-font-family);
  font-size: var(--h1-font-size);
  font-weight: 600;
  color: var(--color-text);
  line-height: 1.2;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list a {
  font-family: var(--quick-font-family);
  font-size: var(--h3-font-size);
  text-decoration: none;
  color: var(--color-text);
}

.nav-list a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px var(--shadow);
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-list a:hover {
  color: var(--color-primary);
  text-shadow: 0 1px 3px var(--shadow);
}

.nav-list a.active {
  color: var(--color-primary);
  text-shadow: 0 1px 3px var(--shadow);
  font-weight: bold;
}

.hamburger {
  background: none;
  border: none;
  display: none;
  font-size: 28px;
  color: var(--color-primary);
  cursor: pointer;
  z-index: 999;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 0 0 50px 0; /* t r b l */
  flex-wrap: wrap;
}

h1 {
  font-family: var(--kudry-font-family);
  font-size: clamp(1.5rem, 4vw, var(--h2-font-size));
  font-weight: 600;
  color: var(--color-text);
  border-bottom: 3px solid var(--color-primary);
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0px 8px 5px -6px var(--shadow);
}

h2 {
  font-family: var(--kudry-font-family);
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin: 0;
  color: var(--color-text);
}

h3 {
  font-family: var(--kudry-font-family);
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
}

p {
  font-family: var(--text-font-family);
  font-size: var(--p-font-size);
  font-weight: 300;
  color: var(--color-text);
  max-width: 800px;
  margin: 20px auto;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  text-align: left;
  flex-wrap: wrap;
}

#inicio .btn {
  display: inline-block;
  font-family: var(--quick-font-family);
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  color: var(--color-primary);
  border-radius: 20px;
  padding: 10px 20px;
  border: rgba(131, 40, 109, 0.6) solid 2px;
  box-shadow: 0 0 7px var(--shadow);
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

#inicio .btn:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  box-shadow: 0 0 2px var(--shadow), 0 0 6px var(--shadow),
    0 0 10px var(--shadow);
  transform: translateY(-5px);
}

.main-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
  padding: 20px;
  flex-wrap: wrap;
}

.hero-image {
  width: 45%;
  height: auto;
}

.fisio-pelvica {
  padding: 80px;
  font-family: var(--text-font-family);
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--color-text);
  width: 85%;
}

.publico-alvo {
  padding: 80px;
  font-family: var(--text-font-family);
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
}

.publico-alvo ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  justify-self: center;
}
.item7 li {
  grid-column: 2 / 2;
}

.publico-alvo li {
  font-family: var(--text-font-family);
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--color-primary);
  margin: 0;
  padding: 20px;
  z-index: -1;
  list-style-type: none;
  align-content: center;
  border-radius: 30px;
  border: rgba(131, 40, 109, 0.6) solid 2px;
  background-color: #f4bfc25c;
  box-shadow: 0 0 7px var(--shadow);
  transition: all 0.3s ease, box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 2px rgba(131, 40, 109, 0.4);
  }

  50% {
    transform: translateY(-6px);
    box-shadow: 0 5px 10px rgba(131, 40, 109, 0.4);
  }

  100% {
    transform: translateY(0px);
    box-shadow: 0 0 2px rgba(131, 40, 109, 0.4);
  }
}

.Sobre-mim-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 20px;
}

.Sobre-mim-texto {
  background-color: rgba(244, 191, 194, 0.5);
  border: #f4bfc2 solid 2px;
  border-radius: 30px;
  padding: 25px;
}

.Img-momis {
  width: 30vw;
  height: auto;
  margin: 0 auto;
  box-shadow: 0px 8px 5px -6px var(--shadow);
}

#serviços {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.serviços-container {
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.serviços-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#serviços h2 {
  font-family: var(--kudry-font-family);
  font-size: var(--h3-font-size);
}

.serviços-grid {
  display: grid;
  grid-template-columns: repeat (350px, 2fr);
  gap: 2rem;
  margin: 30px;
  flex-wrap: wrap;
}

.serviço-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4bfc28a;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: all 0.3s ease;
  width: 35vw;
  justify-self: center;
  flex-wrap: wrap;
}

.serviço-card.centered {
  grid-column: 1 / 3;
  justify-self: center;
}

.serviço-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.serviço-image {
  width: 4rem;
  height: 4rem;
  background-color: rgba(230, 122, 46, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.serviço-image .image {
  width: 3rem;
  height: auto;
  color: var(--dark-color);
}

.icondrenagem {
  width: 2rem;
  height: auto;
  color: var(--dark-color);
}

.breve {
  color: black;
  background-color: #83286c8e;
  font-family: var(--text-font-family);
  font-size: 1.5rem;
  border-radius: 30px;
  margin: 10px;
  width: max-content;
  padding: 0 15px;
  align-self: center;
}

.serviço-card h3 {
  font-size: 1.8rem;
  font-family: var(--kudry-font-family);
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.serviço-link,
.serviço-link-l {
  color: var(--dark-color);
  font-weight: 500;
  font-family: var(--text-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.serviço-link:hover {
  color: var(--dark-color-darker);
}

.arrow-icon,
.arrow-icon-l {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.serviço-link:hover .arrow-icon {
  transform: translateX(3px);
}

.serviço-link:hover .arrow-icon-l {
  transform: translateX(-3px);
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  gap: 20px;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title .serviço-link-l {
  position: absolute;
  left: 0;
  z-index: 1;
}

.title h1 {
  margin: 0;
}

.topico {
  gap: 20px;
  width: 80%;
}

.serviço-detalhes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.serviço-detalhes div {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 191, 194, 0.5);
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

/* Contato */
#Contato-page {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.Contato-text {
  width: 95%;
  max-width: 3000px;
}

#whatsapp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0; /* t r b l */
}

form {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  text-align: center;
  padding: 20px 0; /* t r b l */
}

label {
  font-family: var(--text-font-family);
  font-size: var(--p-font-size);
  font-weight: 300;
  color: var(--color-text);
  margin: 10px 0 10px 0; /* t r b l */
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="message"],
textarea {
  background-color: transparent;
  border: none;
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  padding: 15px;
  width: 65vw;
  font-family: var(--text-font-family);
  font-size: 1.2rem;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="message"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--color-primary);
}

textarea {
  resize: none;
}

button[type="submit"] {
  align-self: center;
  display: inline-block;
  font-family: var(--quick-font-family);
  font-size: 30px;
  text-decoration: none;
  color: var(--color-primary);
  width: 30vw;
  padding: 10px 20px;
  margin: 20px;
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  background-color: transparent;
  box-shadow: 0 0 7px var(--shadow);
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

button[type="submit"]:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  box-shadow: 0 0 2px var(--shadow), 0 0 6px var(--shadow),
    0 0 10px var(--shadow);
  transform: translateY(-5px);
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--shadow);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in-out;
  z-index: 9999;
}
.back-to-top-button {
  background-color: transparent;
  border: none;
}

.back-to-top.show {
  display: flex;
  pointer-events: auto;
  opacity: 1;
}

.back-to-top img {
  width: 30px;
  height: auto;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.back-to-top:hover img {
  transform: scale(1.1);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding: 10px; /* t r b l */
  text-align: center;
  background-color: #f4bfc286;
  border-top: 2px solid var(--color-primary);
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.footer-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-container h2 {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

.footer-container p {
  margin: 5px 0;
  font-size: smaller;
}

.footer-icon {
  width: 20px;
  height: auto;
  overflow: hidden;
}

.contato {
  display: flex;
  flex-direction: column;
}

.contato a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 400;
}

.contato a:hover {
  color: var(--color-primary);
}

.endereços {
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
}

.endereços a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 400;
}

.endereços a:hover {
  color: var(--color-primary);
}

.redes-sociais {
  gap: 15px;
  margin-top: 10px;
}

.redes-sociais img {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.redes-sociais img:hover {
  transform: scale(1.1);
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #9a5188;
}

.footer-copyright p {
  margin: 5px 0;
  font-size: 1rem;
  color: #fff;
}

.footer-copyright p a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright p a:hover {
  text-decoration: underline;
  color: #f4bfc2;
}

@media (max-width: 1024px) {
  /* Estilos para celular */
  .hamburger {
    display: block;
    right: 40px;
  }

  header {
    height: auto;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar-links {
    display: none;
    position: relative;
    background-color: rgba(251, 241, 229, 0.5);
    padding-top: 80px;
    z-index: 998;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    place-items: baseline;
  }

  .navbar-links.active {
    display: block;
    padding: 0;
    flex-wrap: wrap;
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .linha-vertical {
    height: 28px;
    margin-bottom: 10px; /* t r b l */
  }

  .fisioella {
    font-size: 23px;
  }

  .dra-neila {
    font-size: 23px;
  }

  /* header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(251, 241, 229, 0.8);
    z-index: 10;
    box-shadow: 0 2px 6px var(--shadow);
    box-sizing: border-box;
  } */

  section {
    padding: 70px 0 50px 0; /* t r b l */
  }

  #inicio h2 {
    font-size: 30px;
  }

  .main-text {
    padding: 10px;
  }

  #inicio .btn {
    font-size: 20px;
  }

  .fisio-pelvica {
    padding: 20px;
    font-size: 18px;
  }
  .publico-alvo {
    padding: 20px;
    font-size: 18px;
  }

  .publico-alvo ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  #Sobre-mim p {
    padding: 20px 20px;
    margin: 0 auto;
  }

  .Sobre-mim-texto {
    background-color: rgba(244, 191, 194, 0.5);
    border-radius: 30px;
    padding: 10px;

  }

  .Img-momis {
    width: 25vh;
  }

  #Contato-page {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px;
    text-align: start;
  }

  .footer-container h2 {
    font-size: 1.4rem;
  }

  .footer-logo,
  .contato,
  .endereços {
    text-align: center;
    font-size: 14px;
  }

  .redes-sociais img {
    width: 30px;
    height: auto;
  }

  .footer-logo {
    grid-row: 1 / span 2;
  }

  .contato {
    text-align: center;
  }

  .contato h3 {
    margin: 10px;
    margin-bottom: 20px;
  }

  .endereços h3 {
    margin: 10px;
    margin-bottom: 20px;
  }

  .endereços {
    grid-column: 2/ 2;
    text-align: center;
  }

  .footer-copyright p {
    font-size: 0.8rem;
  }
}

/* Tablets até 1024px */
@media (min-width: 1023px) {
  .nav-list a {
    font-size: 23px;
  }

  .navbar.active {
    display: block;
    padding: 0;
    flex-wrap: wrap;
  }

  .fisioella {
    font-size: 28px;
  }

  .dra-neila {
    font-size: 28px;
  }
}

@media (max-width: 769px) {
  .main-text {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  p {
    font-size: 1.3rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Sobre-mim-container {
    flex-direction: column;
  }

  .endereços {
    grid-column: 1 / 3;
    text-align: center;
  }

  .serviços-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .serviço-detalhes div {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 10px;
  }

  .serviço-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .serviço-card {
    width: 90vw;
    max-width: 400px;
    margin: 10px 0;
  }

  .footer-container p {
    font-size: 1rem;
  }

  .footer-container h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 494px) {
  .linha-vertical {
    height: 20px;
    margin-bottom: 10px; /* t r b l */
  }

  .fisioella {
    font-size: 20px;
  }

  .dra-neila {
    font-size: 20px;
  }

  .hamburger {
    font-size: 20px;
  }

  .nav-list a {
    font-size: var(--p-font-size);
  }

  .hero-image {
    width: 80%;
    height: auto;
  }

  p {
    font-size: 1rem;
  }

  .Sobre-mim-container {
    flex-direction: column;
  }

  .Img-momis img {
    width: 80%;
    height: auto;
  }

  .title {
    flex-direction: column;
  }

  .title .serviço-link-l {
    position: relative;
  }

  .serviço-card {
    width: fit-content;
    height: fit-content;
    max-width: 400px;
    margin: 10px 0;
  }

  .serviço-card p {
    font-size: 16px;
  }

  button[type="submit"] {
    font-size: 5vw;
    width: 30vw;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    padding: 20px;
    text-align: start;
  }
}

@media (max-width: 376px) {
  .fisioella {
    font-size: 18px;
  }

  .dra-neila {
    font-size: 18px;
  }

  .serviço-card {
    width: fit-content;
    height: fit-content;
    max-width: 400px;
    margin: 10px 0;
  }

  .serviço-card p {
    font-size: 13px;
  }

  #serviços h2 {
    font-size: 20px;
  }

  .serviço-image {
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgba(230, 122, 46, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .serviço-image .image {
    width: 2rem;
    height: auto;
    color: var(--dark-color);
  }
}
