

@media screen and (max-width: 1024px) {
  section {
    min-height: 80vh;
    padding: 40px 20px;
  }

  /* header */
  .dra-neila {
    font-size: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburguer {
    display: block;
  }

  .hamburguer-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
  }

  .hamburguer i {
    font-size: 1.5rem;
    color: var(--color-primary);
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--color-background);
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav-list {
    flex-direction: column;
  }

  .main-text {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --p-font-size: 1rem;
  }

  section {
    padding: 20px 10px;
    width: 80%;
  }

  .hero-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-top: 20px;
  }

  .hero-text {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 20px;
  }

  .main-text {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 650px) {

  .indicacoes {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .indicacoes li {
    height: 50px;
  }
  
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-logo {
    grid-column: span 2;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1rem;
    --p-font-size: 0.9rem;
  }

  .hero-image {
    max-width: 250px;
  }

  .dra-neila {
    font-size: 1.5rem;
  }

  .hero-text {
    width: 100%;
    margin: 10px;
  }

  .sobre-mim-container {
    grid-template-columns: 1fr;
  }

  .img-momis{
    width: 150px;
    height: auto;
  }
  
  .footer-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .footer-logo {
    grid-column: span 1;
  }

  .footer-info {
    padding: 0 60px;
  }

  .footer-copyright p{
    width: 100%;
    padding: 0 60px;
  }
}

